<h1>Flight Search</h1>

<div class="row">
<div class="card">

    <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from" class="form-control">
    </div>
    <div class="form-group">
        <label>To:</label>
        <input [(ngModel)]="to" class="form-control">
    </div>

    <div class="form-group">
        <button 
            class="btn btn-default"
            (click)="search()" 
            [disabled]="!from || !to">Search</button>
    </div>


</div>
</div>

<div class="row">
    <div *ngFor="let f of flights" class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <flight-card 
            [item]="f" 
            [(selected)]="basket[f.id]"></flight-card>
            <!-- (selectedChange)="basket[f.id] = $event" -->
    </div>
</div>
<!--
<div class="card">


    <table class="table table-contensed">
       
        <tr *ngFor="let f of flights" [class.active]="f === selectedFlight">
            <td>{{f.id}}</td>
            <td>{{f.from | location:'short'}}</td>
            <td>{{f.to | location:'long' }}</td>
            <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
            <td><a (click)="select(f)">Select</a></td>
        </tr>
    </table>

</div>
-->

<div class="row">
<div class="card">
    <pre>{{ basket | json }}</pre>
</div>
</div>